modules = ["java-graalvm22.3", "web"]
run = "run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run"]

[workflows]
runButton = "./mvnw spring-boot:run"

[[workflows.workflow]]
name = "./mvnw spring-boot:run"
mode = "sequential"
author = 1004199

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x mvnw"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./mvnw spring-boot:run"

[[ports]]
localPort = 8080
externalPort = 80
