modules = ["java-graalvm22.3", "web"]
run = "run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "java -jar target/*.jar"]
build = ["sh", "-c", "./mvnw clean package"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "./mvnw spring-boot:run"
mode = "sequential"
author = 1004199

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x mvnw"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./mvnw spring-boot:run"

[[workflows.workflow]]
name = "Run"
author = 1004199
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x mvnw"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./mvnw clean spring-boot:run"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80
